<?xml version="1.0" encoding="utf-8" ?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.ex.username.mydiary" >
	
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

	<application
	  android:name=".MyDiaryApplication"
	  android:allowBackup="true"
	  androdi:icon="@mipmap/ic_launcher" >
        </application>

</manifest>

